

body {
    background-color: #E5E5E5;
    margin-top: 150px;
    margin-right: 100px;
    margin-left: 70px;
}

.navbar-dark .nav-item.active .nav-link{
    color: #F2BFE0; 
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 50px;
    

}
.navbar-dark .nav-item:hover .nav-link{
    color: white;
}

.navbar-dark .navbar-brand {
    color: #F2BFE0; 
    font-family: 'Archivo Black', sans-serif;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.name{
    font-family: 'Archivo Black', sans-serif;
    font-size: 125px;
    color: #A3BC9A;
}

.header{
    font-family: 'Archivo Black', sans-serif;
    font-size: 70px;
    color: #A3BC9A;
}

.text{
    font-family: 'IBM Plex Mono', monospace;
    color: #F2BFE0;
    line-height: 30px;
}

.break{
    height: 300px;
}

.project-title{
    color: #A3BC9A;
    text-decoration: underline;
}

.project-tools{
    color: #F2BFE0;
    font-style: italic;
}
  


